Repository intel/intel-technology-enabling-for-openshift, pull requests merged in 2023-09, with the labels that each got.

#120 machine_configuration: add MCO to load vfio-pci driver at boot
  machine_configuration/100-intel-qat-intel-iommu-on.yaml
Labels: qat, machine_config

#134 docs: Add supported OCP version table and BIOS config table
  docs/supported_platforms.md
Labels: documentation

#135 Readme: update root readme
  README.md
Labels: documentation

#117 tests_l2: Added qat workload
  tests/l2/qat/qatlib_build.yaml
  tests/l2/qat/qatlib_job.yaml
Labels: enhancement, qat

#128 device_plugins: Update SGX container images path for 1.0.1
  device_plugins/sgx_device_plugin.yaml
Labels: sgx

#111 QAT: remove c6xxx and fix maxNumDevices
  device_plugins/qat_device_plugin.yaml
Labels: qat

#142 QAT: Update the README for MCO configuration for QAT
  machine_configuration/README.md
Labels: documentation, qat

#104 tests_l2: Update readme
  tests/l2/README.md
Labels: gpu

#151 device_plugins: Update deploy_qat readme
  device_plugins/deploy_qat.md
Labels: documentation, qat
