Repository intel/intel-technology-enabling-for-openshift, pull requests merged in 2023-08, with the labels that each got.

#98 device_plugins: Added README for QAT
  device_plugins/README.md
  device_plugins/deploy_qat.md
Labels: documentation, qat

#99 nfd: Add QAT to labels table in readme
  nfd/README.md
Labels: documentation, qat

#100 Readme: Update readme
  README.md
Labels: documentation

#112 nfd: Update node-feature-rules-openshift.yaml
  nfd/node-feature-rules-openshift.yaml
Labels: nfd

#115 kmmo: Update pre-built GPU driver container image version to 1.1.0
  kmmo/intel-dgpu.yaml
Labels: enhancement, do-not-merge/hold, gpu

#116 machine_config: Use default worker pool and NFD QAT label for QAT machine config
  machine_configuration/100-intel-qat-intel-iommu-on.yaml
Labels: qat, machine_config

#119 machine_configuration: remove extra "`" character in QAT machine config yaml
  machine_configuration/100-intel-qat-intel-iommu-on.yaml
Labels: qat, machine_config

#121 machine_configuration: Delete custom intel-qat machine config pool
  machine_configuration/intel-qat-machine-config-pool.yaml
Labels: qat, machine_config

#95 Add QAT feature to readme and bold supported features
  README.md
Labels: documentation, qat
